<style>
    #drawer {
        display: none;
    }

   

    @media screen and (max-width: 768px) {
        #drawer {
            display: inline-block;
            float: right;
        }

        nav ul{
            display: none;
            float: none;
            padding-top: 120px;
            /* Hamburger icon is in the header on the right side, and nav expands vertically in the center of the screen below the hamburger icon, that's why I put the padding 120px, to make nav below the icon*/
            text-align: center;
        }

        nav li {
            float: none;
        }

        nav li a {
            display: inline-block;
            
        }
    }

    .display {
        display: block;
    }
</style>


<div class="container">
    <div class="row" style="background-color: #e3e7ee;">
        <div class="col-lg-3 col-12  bg-white mt-5 mx-auto mb-5">
            <div id="sidebar" class="text-white">
                <img style="width: 50px;" id="drawer" src="/images/Hamburger_icon.svg.png" alt="">
                <nav>
                    <ul class="side mt-2">
                        <li class="active"> <a href="/profile" class="text-decoration-none d-flex align-items-start">
                                <div class="fas fa-box pt-2 me-3"></div>
                                <div class="d-flex flex-column">
                                    <div class="link">My Account</div>
                                    
                                </div>
                            </a> </li>
                        <hr class="text-primary">
                        <li> <a href="/orders" class="text-decoration-none d-flex align-items-start">
                                <div class="fas fa-box-open pt-2 me-3"></div>
                                <div class="d-flex flex-column">
                                    <div class="link">My Orders</div>
                                   
                                </div>
                            </a> </li>
                        <hr class="text-primary">
                        <li> <a href="/address" class="text-decoration-none d-flex align-items-start">
                                <div class="far fa-address-book pt-2 me-3"></div>
                                <div class="d-flex flex-column">
                                    <div class="link">Address Book</div>
                                    
                                </div>
                            </a> </li>
                        <hr class="text-primary">
                        <li> <a href="/wishlist" class="text-decoration-none d-flex align-items-start">
                                <div class="far fa-user pt-2 me-3"></div>
                                <div class="d-flex flex-column">
                                    <div class="link">My Wishlist</div>
                                    
                                </div>
                            </a> </li>
                        <hr class="text-primary">
                       
                       
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-lg-8 col-12 mx-auto bg-white mt-5 mb-5">
            <h5 class="fw-bold">Manage Address</h5>
            <a href="/add-new-address" class="btn btn-primary">Add New Address</a>
            <div class="card mt-3">
                <div class="card-body">

                    {{address.address_type}}<br>
                    {{address.firstname}}<br>
                    {{address.lastname}}<br>
                    {{address.address}}<br>
                    {{address.pincode}}<br>
                    {{address.phone}}<br>

                    <div>
                        <a href="/edit-address?Id={{address._id}}" class="btn btn-primary float-right ml-2">Edit</a>
                        {{!-- <a  onclick="delete('{{address._id}}')" class="btn btn-danger float-right ">Delete</a> --}}
                    </div>
                </div>
            </div>
            {{#each address1}}
            <div class="card mb-3">
                <div class="card-body">

                    {{this.address_type}}<br>
                    {{this.firstname}}<br>
                    {{this.lastname}}<br>
                    {{this.address}}<br>
                    {{this.pincode}}<br>
                    {{this.phone}}<br>
                    <div>
                        <a href="/edit-address?Id={{../status._id}}&address={{this.address}}"
                            class="btn btn-primary float-right ml-2">Edit</a>
                        <a onclick="deleteAddress('{{../status._id}}','{{this.address}}')"
                            class="btn btn-danger float-right ">Delete</a>
                    </div>

                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>



<script>

    function deleteAddress(Id, address) {
        console.log("deletefuncton")


        $.ajax({
            url: '/delete-address/' + address,
            method: 'get',
            success: (response) => {
                if (response.status) {
                    Swal.fire({
                        title: 'Are you sure?',
                        text: "You won't be able to revert this!",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes, delete it!'
                    }).then(async(result) => {
                        if (result.isConfirmed) {
                            await Swal.fire(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                                 
                            )
                            location.reload()
                        }
                    })
                   

                }
            }
        })
    }
     $('#drawer').click(function() {
            $('nav .side').toggleClass('display');

            if( $(this).text() == 'Hide' ) {

                $(this).text('Show');

            } else {
                $(this).text('Hide');

            }
        });


</script>